<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form submission example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h3>Add User Form</h3>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p>Middle name: <input type="text" th:field="*{middleName}"/></p>
    <p>Age: <input type="text" th:field="*{age}"/></p>
    <p>Salary: <input type="text" th:field="*{salary}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Work Addres: <input type="text" th:field="*{workAddres}"/></p>
    <p><input type="submit" value="Submit"/><input type="reset" value="Reset"/></p>
</form >

<br>

<p> <h3>Send mail</h3></p>
<form action="#" th:action="@{/send}" th:object="${user}" method="post">
    <p><input type="submit" value="Send mail"/></p>
</form >

<br>
<p> <h3>Find User from file</h3></p>
<form action="#" th:action="@{/finduser}" th:object="${user}" method="post">
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <p><input type="submit" value="Find"/><input type="reset" value="Reset"/></p>
</form >

<br>
<p> <h3>Add User from file</h3></p>

<form method="post" enctype="multipart/form-data"   action="/upload">
    File: <input type="file"   name="file"><br />
    <br>
    Press here to upload the file! <input type="submit" value="Upload">
</form>




</body>
</html>